In [76]:
input = readlines("12.input")

2000-element Array{String,1}:
 "0 <-> 780, 1330"
 "1 <-> 264, 595, 1439"
 "2 <-> 296, 531, 1440"
 "3 <-> 207, 235, 1038"
 "4 <-> 554, 1295"
 "5 <-> 159, 568, 1381"
 "6 <-> 1134"
 "7 <-> 1472, 1977"
 "8 <-> 704"
 "9 <-> 783, 1082, 1795"
 "10 <-> 46, 653, 958"
 "11 <-> 55, 1931"
 "12 <-> 12"
 ⋮
 "1988 <-> 112, 1683"
 "1989 <-> 555, 1051, 1213, 1744"
 "1990 <-> 1637"
 "1991 <-> 1991"
 "1992 <-> 31, 133, 821"
 "1993 <-> 1546, 1897"
 "1994 <-> 603, 1975"
 "1995 <-> 325"
 "1996 <-> 1996"
 "1997 <-> 14, 1093"
 "1998 <-> 1002"
 "1999 <-> 708"

In [77]:
a = map(l -> replace(l, "<->", ","), input)
a = map(l -> replace(l, " ", ""), a)
a = map(l -> split(l, ","), a)
a = map(l -> map(parse, l), a)
a = Dict(l[1] => Set(l[2:end]) for l in a)

Dict{Int64,Set{Int64}} with 2000 entries:
  1704 => Set([1545, 628])
  1760 => Set([275, 209])
  306  => Set([1861, 105])
  1316 => Set([59, 1436, 265, 1872])
  1090 => Set([879, 1288, 1208])
  1333 => Set([1544])
  29   => Set([29])
  1671 => Set([1256])
  1131 => Set([1151])
  74   => Set([168, 175])
  1662 => Set([33, 1726])
  1265 => Set([928, 1376, 1629])
  905  => Set([706, 1984])
  176  => Set([1421])
  1469 => Set([1603])
  892  => Set([1072, 1378, 1510])
  285  => Set([680, 880, 1896])
  1461 => Set([59])
  1881 => Set([394, 1728])
  1693 => Set([1183, 197, 1234])
  1481 => Set([437])
  318  => Set([318])
  1124 => Set([294])
  1337 => Set([940, 637])
  873  => Set([161, 746, 1413])
  ⋮    => ⋮

In [78]:
s = Set()
while true
    ss = length(s)
    for (k, v) in a
        if k in s
            continue
        end
        for (k_, v_) in a
            if k in v_
                union!(v_, v)
                union!(s, k)
            end
        end
    end
    if length(s) == ss
        break
    end
end

In [79]:
length(a[0])

380

In [80]:
length(unique(values(a)))

181