In [20]:
function tm(m, is)
    s = 'A'
    p = 0
    t = Dict()
    for _ in 1:m
       i = is[s][get(t, p, 0)]
        t[p] = i[1]
        p += i[2]
        s = i[3]
    end
    sum(values(t))
end

tm (generic function with 1 method)

In [21]:
tm(6, Dict(
    'A' => Dict(
        0 => [1, 1, 'B'],
        1 => [0, -1, 'B']
    ),
    'B' => Dict(
        0 => [1, -1, 'A'],
        1 => [1, 1, 'B']
    )    
))

3

In [22]:
tm(12481997, Dict(
    'A' => Dict(
        0 => [1, 1, 'B'],
        1 => [0, -1, 'C']
    ),
    'B' => Dict(
        0 => [1, -1, 'A'],
        1 => [1, 1, 'D']
    ),
    'C' => Dict(
        0 => [0, -1, 'B'],
        1 => [0, -1, 'E']
    ),
    'D' => Dict(
        0 => [1, 1, 'A'],
        1 => [0, 1, 'B']
    ),
    'E' => Dict(
        0 => [1, -1, 'F'],
        1 => [1, -1, 'C']
    ),
    'F' => Dict(
        0 => [1, 1, 'D'],
        1 => [1, 1, 'A']
    ) 
))

3362